<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}  <!-- uzywam with konstrukcji, aby przypisać wynik wywołania get_flashed_messages()do messageszmiennej, wszystko w kontekście szablonu -> get_flashed_messages()Funkcja pochodzi z kolby i zwraca listę wszystkich wiadomości, które zostały zarejestrowane flash()wcześniej-->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>