<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>  <!--Flask zapewnia funkcję o nazwie url_for(), która generuje adresy URL za pomocą wewnętrznego mapowania adresów URL do przeglądania funkcji-->
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>  <!--opcja Login jak user == niezalogowany-->
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>  <!--wygenerowanie linku dynamicznego z uzyciem url_for() wskazujacego na frofil uzytkownika-->
            <a href="{{ url_for('logout') }}">Logout</a>  <!--w innym wypadku opcja Logout-->
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}  <!-- uzywam with konstrukcji, aby przypisać wynik wywołania get_flashed_messages() do zmiennej messages, wszystko w kontekście szablonu -> get_flashed_messages()Funkcja pochodzi z kolby i zwraca listę wszystkich wiadomości, które zostały zarejestrowane flash()wcześniej-->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>